@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root{
    --ambar: #DE7812;
    --darkambar: #AD5D0E;
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

ul{
    list-style: none;
}

body{
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 30%, rgba(0, 0, 0, 0.60) 50%, rgba(0, 0, 0, 0.20)), 
    url(Midia/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    animation: zoomefect 1s;
}

@keyframes zoomefect{
    0%{
        transform: scale(3);
    } 
    100%{
        transform: scale(1);
    }
}


/*header*/

body header{
    max-width: 90vw;
    min-height: 10vh ;
        
}


body header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body header .navbar .universal-picture-link{
    z-index: 10;
}


body header .navbar img{
    width: 180px;
    max-width: 20vh;
    z-index: 10;
}

body header .navbar nav ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

body header .navbar nav ul li{
    padding: 6px 10px;
    transition: all .7s;
    z-index: 10;

}

body header .navbar nav ul li.toogle-menu-box{
    display: none;
}

body header .navbar nav ul li:hover{
    background-color: var(--darkambar);
}

body header .navbar nav ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
}


/*main*/


body main{
    flex-grow: 1;
    display: flex;
}

body main .text-content{
    flex-grow: 1;
    max-width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-60px);

}

body main .text-content h1{
    font-size: 7rem;
}

body main .text-content h1 span{
    display: block;
    transform: translateY(30px);
    font-size: 3rem;
    font-weight: 300;
}

body main .text-content h2{
    transform: translateY(-30px);
    font-size: 1.7rem;
}

body main .text-content p{
    font-size: 1.4rem;
    width: 580px;
}

body main .text-content button{
    width: 300px;
    height: 60px;
    border-radius: 60px;
    background-color: var(--ambar);
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    transform: translateY(40px);
    transition: all .6s;
    cursor: pointer;
}

body main .text-content button:hover{
    background-color: var(--darkambar);
}

body main .social-midia{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main .social-midia ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

body main .social-midia ul li{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

body main .social-midia ul li:hover{
    background-color: var(--darkambar);
    border-color: var(--darkambar);

}

body main .social-midia ul li i{
    font-size: 1.8rem;
}


/*footer*/


body footer{
    height: 10vh;
}

body footer p{
    text-align: center;
    font-size: 1rem;
}


/* video */

div.trailer-video.active{
    top: 0vh;
    z-index: 100;
    opacity: 1;
    animation: OpenTansition 1s;
}

@keyframes OpenTansition {
    0%{
        top: -100vh;
    }
    100%{
        top: 0vh;
    }
}

.trailer-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0vh;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100;
    opacity: 0;
    transition: all 1s;
}

.trailer-video video{
    width: 80%;
}

.trailer-video .close-trailer-video{
    position: absolute;
    top: 3vh;
    right: 3vw;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    transition: all .4s;
}

.trailer-video .close-trailer-video:hover{
    background-color: var(--ambar);
}


/*characters*/

.characters-background.active{
    top: 0vh;   
    z-index: 100;
    opacity: 1;
animation: OpenTansition 1s;
}

.characters-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
    transition: all 1s;
}

.characters-background .close-slides{
    position: absolute;
    top: 3vh;
    right: 3vw;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    z-index: 100;
    transition: all .4s;
}

.characters-background .close-slides:hover{
    background-color: var(--ambar);
}

div.characters-container{
    width: 80vw;
    height: 27vw;
    max-width: 1536px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.characters-background .characters-container .action-btn{
    position: absolute;
    top: 50%;
    
}

.characters-background .characters-container .action-btn span {
    font-size: 3vw;
    cursor: pointer;
    transition: all 0.6s;
}

.characters-background .characters-container .action-btn span:hover{
    color: var(--darkambar);
    font-size: 3.5vw;
}

.characters-background .characters-container .action-btn.btn-prev{
    left: 0;
}

.characters-background .characters-container .action-btn.btn-next{
    right: 0;
}

.characters-background .characters-container .characters-slides{
    display: flex;
    width: 300%;
}

.characters-background .characters-container .characters-slides .chatacters-bar{
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.8s;
}

.characters-background .characters-container .characters-slides .chatacters-bar:first-child{
    margin-left: -33.33%;
}

.characters-background .characters-container .characters-slides .chatacters-bar .character-slide{
    width: 30%;
    text-align: center;
    height: 100%;
}

.characters-background .characters-container .characters-slides .chatacters-bar .character-slide img{
width: 90%;
}

/* Galery */
div.background-galery{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
    opacity: 0;
    transition: all 1s;
}

div.background-galery.active{
    top: 0vh;
    z-index: 100;
    opacity: 1;
    animation: OpenTansition 1s;
}


div.background-galery div.galery-slider-container{
    width: 80vw;
    height: 40vw;
    overflow: hidden;
    position: relative;
}

div.background-galery div.galery-slider-container .action-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    cursor: pointer;
}

div.background-galery div.galery-slider-container .btn-prev{
   left: 0;
}

div.background-galery div.galery-slider-container .btn-next{
    right: 0;
 }

div.background-galery div.galery-slider-container div.galery-slider{
    display: flex;
    width: 400%;
}

div.background-galery div.galery-slider-container div.galery-slide:first-child{
     margin-left: -25%;
}

div.background-galery div.galery-slider-container div.galery-slide{
    width: 80vw;
    height: 40vw;
    transition: all 0.6s;
}

div.background-galery div.galery-slider-container div.galery-slide img{
    width: 100%;
    height: 100%;
}


/*Breakpoint
desktop: 1200px
laptop: 992px
tablet:768px
phone:480px 
*/


@media (min-width: 2160px) {
    
    /*header*/
    body header .navbar img{
        width: 220px;
        max-width: 15vh;
    }

    body header .navbar nav ul li a{
        font-size: 2.5rem;
    }


    /*main*/
    body main .text-content h1{
        font-size: 9rem;
    }

    body main .text-content h1 span{
        font-size: 3rem;
        transform: translateY(20px);

    }
    
    body main .text-content h2{
        font-size: 2.2rem;
        transform: translateY(-20px);

    }
    
    body main .text-content p{
        font-size: 1.5rem;
        width: 700px;
    }

    body main .text-content button{
        width: 380px;
        height: 90px;
        border-radius: 60px;
        font-size: 2rem;
    }

    body main .social-midia ul li{
        width: 100px;
        height: 100px;
    }

    body main .social-midia ul li i{
        font-size: 3.2rem;
    }

    body footer p{
        font-size: 1.5rem;
    }

}

@media (min-width: 2560px) {
    
    /*header*/
    body header .navbar img{
        width: 520px;
        max-width: 18vh;
    }

    body header .navbar nav ul{
        gap: 40px;
    }

    body header .navbar nav ul li a{
        font-size: 3rem;
    }


    /*main*/
    body main .text-content h1{
        font-size: 10.5rem;
    }

    body main .text-content h1 span{
        font-size: 3.8rem;
        transform: translateY(20px);

    }
    
    body main .text-content h2{
        font-size: 2.6rem;
        transform: translateY(-20px);

    }
    
    body main .text-content p{
        font-size: 1.8rem;
        width: 780px;
    }

    body main .text-content button{
        width: 440px;
        height: 110px;
        border-radius: 60px;
        font-size: 2.5rem;
    }

    body main .social-midia ul li{
        width: 120px;
        height: 120px;
    }

    body main .social-midia ul li i{
        font-size: 3.6rem;
    }

    body footer p{
        font-size: 1.7rem;
    }

}

@media(max-width: 1200px){
    /*header*/
    body header .navbar img{
        width: 180px;
        max-width: 15vh;
    }

    body header .navbar nav ul li a{
        font-size: 1.3rem;
    }


    /*main*/
    body main .text-content h1{
        font-size: 5rem;
    }

    body main .text-content h1 span{
        font-size: 2rem;
        transform: translateY(20px);

    }
    
    body main .text-content h2{
        font-size: 1.25rem;
        transform: translateY(-20px);

    }
    
    body main .text-content p{
        font-size: 1.1rem;
        width: 400px;
    }

    body main .text-content button{
        width: 240px;
        height: 60px;
        border-radius: 60px;
  
    }

    body main .social-midia ul li{
        width: 48px;
        height: 48px;
    }

    body main .social-midia ul li i{
        font-size: 1.4rem;
    }

}

@media(max-width: 992px){
    body{
        padding: 2.5vh 2.5vw; 
    }
    /*header*/

    body header{
    height: 80px;
    }

    body header .navbar img{
        width: 180px;
        max-width: 14vh;
    }

    body header .navbar nav ul li a{
        font-size: 1rem;
    }


    /*main*/
    body main .text-content h1{
        font-size: 4rem;
    }

    body main .text-content h1 span{
        font-size: 1.5rem;
    }
    
    body main .text-content h2{
        font-size: 1rem;
    }
    
    body main .text-content p{
        font-size: 0.7rem;
        width: 320px;
    }

    body main .text-content button{
        width: 160px;
        height: 40px;
        font-size: 1rem;
        
  
    }

    body main .social-midia ul li{
        width: 32px;
        height: 32px;
    }

    body main .social-midia ul li i{
        font-size: 1.1rem;
    }

    body footer p{
        font-size: 0.6rem;
    }

}

@media(max-width: 767px){
    body{
        padding: 20px 20px; 
    }
    /*header*/
    body header .navbar img{
        width: 180px;
        max-width: 14vh;
    }

    body header .navbar nav li{
        display: none;
    }

    body header .navbar nav li.toogle-menu-box{
        display: flex !important;
        flex-direction: column;
        width: 20px;
        height: 14px;
        padding: 10px;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    body header .navbar nav li.toogle-menu-box:hover{
        background-color: unset !important;
    }

    body header .navbar nav li div.toogle-menu::before{
        content: "";
        display: block;
        width: 19px;
        height: 2px;
        background-color: white;
        transform: translateY(-10px);
        transition: all .6s;
        z-index: 1000;
    }

    body header .navbar nav li div.toogle-menu{
        display: block;
        width: 19px;
        height: 2px;
        background-color: white;
        transition: all .6s;
        z-index: 1000;
    }

    body header .navbar nav li div.toogle-menu::after{
        content: "";
        display: block;
        width: 19px;
        height: 2px;
        background-color: white;
        margin-top: 7px;
        z-index: 1000;
    }


    body header .navbar nav li.toogle-menu-box.active .toogle-menu::before{
    transform: rotate(90deg);
    }

    body header .navbar nav li.toogle-menu-box.active .toogle-menu{
        transform: rotate(-45deg);
    }

    body header .navbar nav li.toogle-menu-box.active .toogle-menu::after{
        display: none;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content{
        position: absolute;
        top: -100vh;
        right: 0vw;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100vh;
        width: 50vw;
        display: block;
        transition: all 1s;
        opacity: 0;
    }

    body header .navbar nav li.toogle-menu-box.active .toogle-menu-content{
        right: -30px;
        top: -30px;
        z-index: 100;
        opacity: 1;
        animation: MenuTansition 1s;
    }

    @keyframes MenuTansition {
        0%{
            top: -30px;
            right: -60vw;
        }
        100%{
            right: -30px;
        }
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul li{
        display: block;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul ul#icons{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul ul#icons li{
     width: 28px;
     height: 28px;
     border-radius: 50%;
     border: 1px solid white;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul ul#icons li i{
        font-size: 0.8rem;
    }

    body header .navbar nav li.toogle-menu-box .toogle-menu-content ul ul#icons li:hover{
        background-color: unset !important;
    }



    /*main*/
    body main .text-content h1{
        font-size: 3.8rem;
    }

    body main .text-content h1 span{
        font-size: 1.4rem;
    }
    
    body main .text-content h2{
        font-size: 0.95rem;
    }
    
    body main .text-content p{
        font-size: 0.7rem;
        width: 300px;
    }

    body main .text-content button{
        width: 140px;
        height: 35px;
        font-size: 0.85rem;
    }

    body main .social-midia{
        display: none;
    }

    body footer p{
        text-align: center;
        font-size: 0.5rem;
    }

}


@media (max-width: 360px) {
    body main .text-content h1{
        font-size: 3rem;
    }

    body main .text-content h1 span{
        font-size: 1.1rem;
        transform: translateY(15px)
    }
    
    body main .text-content h2{
        font-size: 0.74rem;
        transform: translateY(-5px)
    }
    
    body main .text-content p{
        font-size: 0.5rem;
        width: 260px;
    }

    body main .text-content button{
        width: 130px;
        height: 32px;
        font-size: 0.8rem;
    }

    body footer p{
        font-size: 0.4rem;
    }
}
/*Criar um botãp p fechar galeriae criar função de fechas as janelas quando abrir uma nova
